header img {
  width: 100%;
}
#modaHistory {
  flex-direction: column;
  gap: 30px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 678px) {
  .card-container {
    justify-content: center;
  }
}
.card {
  border: 1px solid #9e9b9b;
  width: 250px;
}
.card h2 {
  margin-left: 28px;
  padding: 30px 0;
}
.card p {
  margin: 0 20px 30px;
}
.card-description .btn-line {
  margin: 0 28px 35px;
}
