@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  list-style-type: none;
  color: #6c6969;
}
.container {
  width: 80%;
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
}
h1,
h2 {
  color: #660027;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
.btn-line {
  padding: 13px 28px;
  color: #660027;
  background-color: #fff;
  border: 2px solid #660027;
  border-radius: 4px;
}
